body {
    background-color: #17202A;
}


div.card {
    background-color: #fff;
    backface-visibility: hidden;
    /*margin-top: -200px;
    color: #fff;*/
    border: none;
    -webkit-box-shadow: 0 0 50px black;
     box-shadow: 0 0 50px black;
    max-width: 380px;
}

.form-check-input{
    
}

.login-btn, .login-btn:hover {
    background-color: #8d33f6;
    color: #fff;
    border: 1px #8d33f6 solid;
}

.createAccount {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding: 5px 0;
    min-width: 300px;
    min-height: 35px;
}


/* ==============Media Queries=========== */

@media screen and (max-width: 994px){
    div.card {
        margin: auto;
    }
}

@media screen and (max-width: 769px){
    form {
        text-align: left;
    }
}